/*basic section*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {

	font-size: 62.5%;/*html default font size is 16px which is 100%. we use 10px.
						then other measurement will be rem instead of px. every px
						devided by our using px then multiply 100.*/
	scroll-behavior: smooth;
}

body{
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
}
ul li {
	list-style-type: none;
}

h1 {
	font-size: 4.2rem;
	color: #fff;
}

/*{ instead of overflow: hidden}*/
.clear::after {
	content: "";
	display: block;				
	clear: both;				
	height: 0;
	visibility: hidden;
}


/*reusable component*/
.row {
	max-width: 114rem;
	margin: 0 auto;
}
.btn:link,
.btn:visited, .btn {
	background: #333;
	border-bottom: 0.3rem solid #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 6rem;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;
}

section {
	padding: 8rem 0;
}
h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 600; /* default font-weight:700; */
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;
}
	 h2::after {
	 	content: "";
	 	display: block;
	 	height: 0.4rem;
	 	width: 11.5rem;
	 	margin: auto;
	 	margin-top: 20px;
	 }

	h3{
		font-size: 2.4rem;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
	}

	h4 {

		font-size: 1.8rem;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 2.5rem;
	}

	.box{
		padding: 3.2%;
	}

	.box p {

		font-size: 1.6rem;
		font-weight: 300;
		margin-top: 3.5rem;
	}
	.little-description {
		font-size: 1.8rem;
		margin-left: 20%;
		width: 60%;
		line-height: 3rem;
	}

/* headre section*/

header {

	background: linear-gradient(rgb(135, 80, 156,0.9),rgb(135, 80, 156,0.9)), url(img/hero-bg.jpg);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: cover;
	background-attachment: fixed; /* for fixed background image */
	/*background: #87509c;*/
	height: 85vh;/* vh-vertical height*/
	position: relative;
}
.logo{
	height: 3.5rem;
	width: auto;
	margin-top: 3.5rem;
	float: left;
}

/* main nav*/
.main-nav {
	float: right;
	margin-top: 4rem;
}
.main-nav li {
	display: inline-block;
	margin-left: 3rem;
	
}

.main-nav li:first-child {
	margin-left: 0;
}

.main-nav li a:link,/*sudo class*/
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	/*background: #643a79;*/
	padding: .6rem 1.6rem;
	border-radius: .4rem;
	display: inline-block;
	font-size: 1.6rem;
	transition: 0.3s;
	
}

.main-nav li:hover a:link,/*sudo class*/
.main-nav li:hover a:visited {
	background: #643a79;
}
.main-nav li.active a {
	background: #643a79;
}

.sticky {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: #0099cc;
	padding: 1rem 0;
	box-shadow: 0 .2rem .5rem #ff0000; 
}

.sticky .logo {margin-top: 0;}
.sticky .main-nav {margin-top: .3rem;}

.hero-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
	background: #eb7d4b;
	border-color: #c86a40;
}


/* service section*/

.service-section {
	color: #fff;
	text-align: center;
	background: linear-gradient(rgb(23, 194, 164,0.9),rgb(23, 194, 164,0.9)), url(img/services-bg.jpg);
	background-repeat: no-repeat; 
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}

.service-section h2::after{
	background: #14a58c;
}

.service-icon {
	height: 12.5rem;
	margin-top: 8rem;
	margin-bottom: 6rem;
}


/* team section*/
.team-section {
	text-align: center;
	background: linear-gradient(rgb(231, 241, 248,0.7),rgb(231, 241, 248,0.7)), url(img/team-bg.jpg);
	background-repeat: no-repeat; 
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}

.team-section h2 {
	
	color: #3c4761;
	font-weight: 600;
	letter-spacing: 0.4rem;
}

.team-section h2::after {
	background: #c8d9e5;
	font-size: 4.1rem;
}
	
.team-section h3 {
	color: #3c4761;
}
.team-section p {
	text-align: center;
	font-size: 1.9rem;
	color: #5d677b;
}

.team-member {
	margin-bottom: 3rem;
	margin-top: 5rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}

.role {
	font-size: 1.6rem;
	color: #30bae7;
	text-transform: capitalize;
	margin-top: 0.5rem;
	display: inline-block;
}
	.team-section .box {
		padding: 3%;
	}
.team-section .box p {
	color: #3c4761;
	text-align: center;
}

.social-icon {
	 margin-top: 4.5rem;
}

.social-icon ul li {
	display: inline-block;
	margin: 0 0.5rem;
}

.social-icon ul li a:link {
	color: #fff;
}

.social-icon ul li a:link i::before {
	background: #bdd1df;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	border-radius: 50%;
	font-size: 2rem;
	padding: 0.5rem;
	transition: .5s;
}

.social-icon ul li a:hover i::before {

	background: #090707;
	transform: rotate(360deg);
}

/*skill section*/
.skill {
	text-align: center;
	background: linear-gradient(rgb(255, 255, 255,0.7),rgb(255, 255, 255,0.7)), url(img/skill-bg.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}

.skill h2 {
	color: #3c4761;
	font-size: 4rem;
}

.skill h2::after {
	background: #dfe8ed;
}

.skill .little-description {
	color: #3c4761;
	font-size: 1.8rem;
}

.skill h3 {
	color: #3c4761;
	margin-top: 1rem;
}

.skill .box {
	margin-top: 4.5rem;
}

svg.radial-progress circle {
	stroke-width:5;
}

svg.radial-progress text {
	fill: #3c4761;
	font-size: 1.3rem;
}

svg.web-design circle {
	stroke: #30bae7;
}

svg.html-css circle {
	stroke: #d74680;
}

svg.graphic-design circle {
	stroke: #15c7a8;
}

svg.ui-ux circle {
	stroke: #eb7d4b;
}


/* portfolio section */
.portfolio {
	background: linear-gradient(rgb(255, 221, 153,0.7),rgb(255, 221, 153,0.7)), url(img/portfolio-bg.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.portfolio h2 {
	color: #393939;
	font-size: 4rem;
}

.portfolio h2::after {
	background: #e5c37f;
}

.portfolio .little-description{
color: #393939;
font-size: 1.8rem;
}

.portfolio .btn-hero {
	background: #17c2a4;
	border-color: #14a58c;
}

.portfolio .portfolio-img {
	width: 100%;
	height: 25rem;

}

.portfolio h4 {
	color: #393939;
	font-size: 1.8rem;
}

.portfolio .portfilio-btn {
	margin:4.5rem 0;
}

.portfolio .portfilio-btn button {
	background: #ebc985;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border:0;
	border-radius: .5rem;
	text-transform: uppercase;
	color: #393939;
	margin: 0 .5rem;
	transition: 0.3s;
}

.portfolio .portfilio-btn button:hover {
	cursor: pointer;
	box-shadow: inset 0 .3rem 1rem rgb(60, 71, 97,0.5);
}

.portfolio .col:nth-child(3) {
	margin-left: 0;
}

.portfolio .portfilio-btn .mixitup-control-active {
	background: #fff;
}

/*about us*/

.about {
	background: linear-gradient(rgb(215, 70, 128,0.7),rgb(215, 70, 128,0.7)), url(img/testimonial-bg.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.about h2 {
	color: #fff;
	font-size: 4rem;
}

.about h2::after {
	background: #b73c6d;
}

.about .little-description {
	text-align: center;
}

.about .little-description{
	color: #fff;
	font-size: 1.8rem;
}

.about .col:nth-child(1),
.about .col:nth-child(2) {
	margin-top: 4rem;
}

.about .col:nth-child(3),
.about .col:nth-child(4) {
	margin-top: 8rem;
}


.about .about-logo {
width: 10rem;
float: left;
}

.about .about-logo img {

	height: 8rem;
	border-radius: 50%;
	margin-bottom: 3rem;	
}

.about .about-review {
	width: 27rem;
	float: left;
}

.about .about-review p {
	color: #fff;
	font-size: 2.1rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

.about .about-review h3 {
	color: #fff;
	font-size: 2.4rem;
	margin-top: 2rem;
	text-align: left;
}
.about .about-review .role {
	color: #ffdd99;
	font-size: 1.8rem;
}


/*contact section*/

.contact {
	background: linear-gradient(rgb(60, 84, 153,0.7),rgb(60, 84, 153,0.7)), url(img/contact-bg.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	text-align: center;
}

.contact h2 {
	color: #fff;
	font-size: 4rem;
}

.contact .little-description {
	color: #fff;
	font-size: 1.5rem;
}

.contact h2::after {
	background: #273a71;
}

.contact .btn-submit {
	background: #30bae7;
	color: #fff;
	border:0;
	border-bottom: .3rem solid #299ec5;
	font-size: 1.8rem;
	cursor: pointer;
}

.contact form {
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;
}


.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
	background: #273a71;
	border: 1rem solid #273a71;
	width: 99%;
	padding: 1.5rem;
	border-radius: .5rem;
	font-size: 1.8rem;
	color: #fff;
	margin: 1rem;
	text-transform: capitalize;
}

.contact form ::placeholder {
	color: #fff;
	font-size: 1.8rem;
	opacity: 1;
}
.contact input[type="text"],
.contact input[type="email"] {
	width: 98%;
}

/*footer section*/

.footer {
	background: #344b8e;
	width: 100%;
	height: 100%;
	text-align: center;
}

.footer .box {
	padding-left: 7.5rem;
}
.footer .box a {
	display: inline-block;
	font-size: 2.4rem;
	color: #fff;
	margin-left: 3rem;
	text-decoration: none;
	font-weight: 600;
}

.footer .box a:hover {
	color: #000099;
}